.root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 50rem;
  margin: auto;
}

.trigger {
  // &__container {
  // }

  // &__button {
    text-align: start;
    font-size: inherit;

    width: 100%;
    background-color: lightcoral;
    padding: 2rem
  // }
}

.content {
  & > * + * {
    margin-top: 1rem;
  }
}